build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
node_modules/
.env
*.log
.idea/
.vscode/
*.iml
.dart_tool/
.packages
build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.ipa
*.zip
